#title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

#text{

    padding-top: 10em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}
.float{
     float: right;


}
.rounded-circle{
    float:right
}
.col-4{
    color:white;

}
#name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em ;
    color:white;
    text-align: center;
}

.badge{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.nbutton{
    padding-bottom: 30px;
    text-align: center;

}
.nimage{
    /* position: relative; */
   float: right;
  padding: 20px;
  padding-left: 40px;
  padding-top: 100px;
  padding-right: 40px;
  overflow: auto;
  
    
}

#about{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    padding-right: 20px;
    font-size: 24px;
    
}

#nmain{
    text-align: center;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: underline;

    

}
#cpp{
    width: 80px;
    color: green;
}

.np{
    padding-top: 50px;
}

.col-6 ul li{
    list-style-type:none;
    margin: 50px 0px;
    
    position: relative;
    font-weight: bold;
    color: white;
}

.col-6 ul li::before{
    content: '';
    background-color:rgb(37, 33, 33) ;
    position:absolute;
    width: 100%;
    height: 25px;
    left:0;
    border-radius: 25px;
    top:calc(100% + 2px);

}
.col-6 ul li::after{
    content: '';
    /* background-color:rgb(247, 170, 183); */
    position:absolute;
    left:0;
    width: 0%;
    height: 25px;
    border-radius: 25px;
    top:calc(100% + 2px);

    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    animation-direction: forward;


}
/* HTML */
.col-6 ul li.html::after{
    animation-name: html;
}

@keyframes html {
    to{
        width: 90%;
        background-color: rgb(255, 184, 30);
        
    }
    
}
/* CSS */
.col-6 ul li.css::after{
    animation-name: css;
}

@keyframes css {
    to{
        width: 85%;
        background-color: rgb(29, 44, 255);
        
    }
    
}
/* BOOTSTRAP */
.col-6 ul li.bootstrap::after{
    animation-name: bootstrap;
}

@keyframes bootstrap {
    to{
        width: 75%;
        background-color: rgb(255, 0, 242);
        
    }
    
}
/* C++ */
.col-6 ul li.cpp::after{
    animation-name: cpp;
}

@keyframes cpp {
    to{
        width: 50%;
        background-color: rgb(68, 71, 241);
        
    }
    
}
/* JAVA */
.col-6 ul li.java::after{
    animation-name: java;
}

@keyframes java {
    to{
        width: 50%;
        background-color: rgb(145, 255, 0);
        
    }
    
}


.card-body{
    width: 100%;
    height: 100%;
    background-color: rgb(44, 43, 43); 
    
}

#more_info{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2em;
    color:white;
}
.card{
    background-color: rgb(44, 43, 43);
   
    margin:10px;
}
.education ol li{
    color:white;
}

#education{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
    font-weight:bold ;
    font-size: 24px;
    text-align: center;
    top:0;
    display: inline;
    
   
}
.orderlist{
   
   margin-top:20px
    
   
}
#png{
    text-align: center;
    
}



