#title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

#text{

    padding-top: 10em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}
.float{
     float: right;


}
.rounded-circle{
    float:right
}
.col-4{
    color:white;

}
#name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em ;
    color:white;
    text-align: center;
}

.badge{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.nbutton{
    padding-bottom: 30px;
    text-align: center;

}
.nimage{
    /* position: relative; */
   float: right;
  padding: 20px;
  padding-left: 40px;
  padding-top: 100px;
  padding-right: 40px;
  overflow: auto;
  
    
}

#about{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    padding-right: 20px;
    font-size: 24px;
    
}

#nmain{
    text-align: center;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: underline;

    

}
#cpp{
    width: 80px;
    color: green;
}

.np{
    padding-top: 50px;
}

li{
    list-style-type:none;
    padding: 25px;
}